{% import 'blocks.html' as blocks %}
{{ blocks.commonResources(uiTheme, enableCAPTCHA) }}
<link rel="shortcut icon" href="favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="Galaxy Harvester News Feed" href="http://feeds.feedburner.com/GalaxyHarvesterNews" />

{{ blocks.pageTracker() }}
{{ blocks.joinForm(loggedin, ['?src_url=/blog.py&', linkappend]|join, url, enableCAPTCHA, siteidCAPTCHA) }}
</head>
<body>
{{ blocks.headerSection(loggedin, currentUser, loginResult, linkappend, url, imgNum, galaxyList, pictureName) }}

<div id="mainContent" class="wrapper">
