{% import 'blocks.html' as blocks %}
<!DOCTYPE html>
<html lang="en"><head><title>Galaxy Admin - Galaxy Harvester</title>
{{ blocks.commonResources(uiTheme, enableCAPTCHA) }}
<script type="text/javascript">
$(document).ready(function() {
    $("#galaxySel").val(getCookie("galaxy",defaultGalaxy));
    $("#galaxyStatus").val("{{ galaxyState }}");
    $(".window .close").click(function(e) {
        e.preventDefault();
        $("#mask, .window").hide();
    });
    $("#mask").click(function() {
        $(this).hide();
        $(".window").hide();
    });
    var a = $('#adminUserAdd').autocomplete({
	      serviceUrl:BASE_SCRIPT_URL + "getUserNames.py",
        maxHeight:200,
        width:200,
        onSelect: function(value,data) {addAdmin(value);$('#adminUserAdd').val('')}
    });

});
// Add admin user
function addAdmin(userID) {
  foundUser = false;
  $('#adminUsers > div').each(function () {
    if ( $(this).text() == userID ) {
      foundUser = true;
    }
  });
  if ( foundUser == false ) {
    $("#adminUsers").append("<div class='blockUserItem'>" + userID + "<img src='/images/xRed16.png' alt='Remove' title='Remove' onclick='this.parentNode.remove();'></img></div>");
  }
}
// Managed planet list functions
function addPlanets() {
  $("#planetsAvailable > option:selected").each(function() {
    $("#planetsSelected").append(this);
  });
}
function removePlanets() {
  $("#planetsSelected > option:selected").each(function() {
    this.remove();
  });
}
// Managed resource type list functions
function addResourceTypes() {
  if ($("#resourceTypesAvailable > option:selected").length > 0) {
    $("#resourceTypesSelected > option:selected").removeAttr('selected');
  }

  $("#resourceTypesAvailable > option:selected").each(function() {
    $("#resourceTypesSelected").append(this).html(
      $('#resourceTypesSelected > option').sort(function(a, b) {
        return a.text.localeCompare(b.text);
      })
    );
  });
}
function removeResourceTypes() {
  if ($("#resourceTypesSelected > option:selected").length > 0) {
    $("#resourceTypesAvailable > option:selected").removeAttr('selected');
  }

  $("#resourceTypesSelected > option:selected").each(function() {
    $("#resourceTypesAvailable").append(this).html(
      $('#resourceTypesAvailable > option').sort(function(a, b) {
        return a.text.localeCompare(b.text);
      })
    );
  });
}
// Send galaxy details
function saveGalaxy() {
  $('#busyImgSave').css('display','block');

  // build comma separated list of planets.
  var planets = '';
  $('#planetsSelected > option').each(function() {
    planets += ($(this).attr('value') + ',');
  });

  // build comma separated list of resource types.
  var resourceTypes = '';
  $('#resourceTypesSelected > option').each(function() {
    resourceTypes += ($(this).attr('value') + ',');
  });

  // build list of admin users.
  var admins = '';
  $('#adminUsers > div').each(function() {
    admins += ($(this).text() + ',');
  });

  // send data
  $.post(BASE_SCRIPT_URL + 'postGalaxy.py', { galaxyID: '{{ galaxyID }}', galaxyName: $('#galaxyName').val(), galaxyState: $('#galaxyStatus').val(), galaxyNGE: $('#oGalaxyNGE').attr('checked'), galaxyWebsite: $('#galaxyWebsite').val(), galaxyPlanets: planets, galaxyResourceTypes: resourceTypes, galaxyAdmins: admins },
    function(data) {
      var result = $(data).find('resultText').eq(0).text();
      $('#busyImgSave').css('display','none');
      $('#galaxyMessage').hide();
      $('#galaxyMessage').html(result);
      $('#galaxyMessage').show(1000);
    }, 'xml');
}
</script>
{{ blocks.pageTracker() }}
<body>
{{ blocks.headerSection(loggedin, currentUser, loginResult, linkappend, url, imgNum, galaxyList, pictureName) }}

<div id="mainContent" class="wrapper">
  <div id="leftNavContent" class="ghCol">
    <div id="helpTopics" class="ghWidgetBox">
    <div class="boxHeader">Galaxy Admin<button type="button" id="btnNewGalaxy" class="ghButton" style="float:right;" onclick="document.location.href='/galaxy.py/new'">New</button></div>
      <p>You are designated admin on the galaxies listed below, select one to edit it.</p>
      <select size="20" id="galaxyAdminSel" style="min-width: 120px;" onchange="document.location.href='/galaxy.py/'+this.value;">{{ galaxyAdminList }}</select>
    </div>
  </div>
  <div id="rightMainContent" class="ghCol">
    <div class="ghWidgetBox">
      <h4 id="galaxyMessage">{{ msgHTML }}</h4>
      <form>
        <table class="bigForm">
          <tr><td><div title="This name will display in the galaxy drop down list.">Name:</div></td><td colspan="2"><input type="text" id="galaxyName" size="20" maxlength="127" value="{{ galaxyName }}" /></td></tr>
{% if galaxyID != 'new' and galaxyID != '' %}
          <tr><td><div title="Inactive galaxies are 'read only', Removed galaxies no longer show in the galaxy drop down list.">Status:</div></td><td colspan="2"><select id="galaxyStatus" style="min-width: 100px;">{{ galaxyStatusList }}</select></td></tr>
{% endif %}
          <tr><td><div title="Check this box if this galaxy has NGE style Trader crafting professions rather than the Pre-CU ones.">Is NGE:</div></td colspan="2"><td><input id="oGalaxyNGE" type="checkbox" {{ galaxyCheckedNGE }}/></td></tr>
          <tr><td><div title="Please enter the web address where people can go to get info on how to sign up and play on your server.">Website:</div></td><td colspan="2"><input type="text" id="galaxyWebsite" size="40" maxlength="1023" value="{{ galaxyWebsite }}"/></td></tr>
          <tr><td colspan=3><h3 title="If your server has additional planets where players can collect resources, add them here.">Extra Planets:</h3></td></tr>
          <tr>
            <td colspan="3">
              <table>
                <tr>
                  <td>Available:<br/><select multiple size="12" id="planetsAvailable" style="min-width: 120px;">{{ availablePlanetList }}</select></td>
                  <td align="center"><input type="button" class="ghButton planetButton" value="Add    -&gt;" onclick="addPlanets();"></input><br/><br/><input type="button" class="ghButton planetButton" value="&lt;- Remove" onclick="removePlanets();"></input></td>
                  <td>Selected:<br/><select multiple size="12" id="planetsSelected" style="min-width: 120px;">{{ galaxyPlanetList }}</select></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td colspan=3><h3 title="If your server has additional resource types, add them here.">Extra Resource Types:</h3></td></tr>
          <tr>
            <td colspan="3">
              <table>
                <tr>
                  <td>Available:<br/><select multiple size="12" id="resourceTypesAvailable" style="min-width: 120px;">{{ availableResourceTypeList }}</select></td>
                  <td align="center"><input type="button" class="ghButton" value="Add    -&gt;" onclick="addResourceTypes();"></input><br/><br/><input type="button" class="ghButton" value="&lt;- Remove" onclick="removeResourceTypes();"></input></td>
                  <td>Selected:<br/><select multiple size="12" id="resourceTypesSelected" style="min-width: 120px;">{{ galaxyResourceTypeList }}</select></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><td><div title="List any Galaxy Harvester users that should be able to come to this screen and edit this galaxy's details.">Galaxy Admins:</div></td><td colspan="2"></td></tr>
          <tr><td colspan="3"><div id="adminUsers" class="inlineItemBlockList"><input id="adminUserAdd" type="text" size="12" />
{% for admin in galaxyAdmins %}
            <div class="blockUserItem">{{ admin }}<img src='/images/xRed16.png' alt='Remove' title='Remove' onclick='this.parentNode.remove();'></img></div>
{% endfor %}          
          </div></td></tr>
          <tr><td><div id="busyImgSave" style="display: none;" class="lds-ripple"><div></div><div></div></div></td><td><input type="button" value="Save" class="ghButton" onclick="saveGalaxy();"/></input></td></tr>
        </table>
      </form>
    </div>
{% if loggedin == 0 %}
	    <div id="addGalaxyMask" class="disabled">Login First</div>
{% else %}
	    <div id="addGalaxyMask"></div>
{% endif %}
  </div>
</div>
{{ blocks.pageFooter() }}
{{ blocks.joinForm(loggedin, ['?src_url=galaxy.py&', linkappend]|join, url, enableCAPTCHA, siteidCAPTCHA) }}
<div id="mask"></div>
</body></html>
