{% import 'blocks.html' as blocks %}
<!DOCTYPE html>
<html lang="en"><head><title>Galaxy Harvester Message</title>
<link rel="stylesheet" href="/style/ghCore.css" type="text/css" />
<link rel="stylesheet" href="/style/themes/{{ uiTheme }}.css" type="text/css" />
<script type="text/javascript" src="/js/ghShared.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#galaxySel").val(getCookie("galaxy",defaultGalaxy));
    $(".window .close").click(function(e) {
        e.preventDefault();
        $("#mask, .window").hide();
    });
    $("#mask").click(function() {
        $(this).hide();
        $(".window").hide();
    });
});
</script>
{{ blocks.pageTracker() }}
<body>
{{ blocks.headerSection(loggedin, currentUser, loginResult, linkappend, url, imgNum, galaxyList, pictureName) }}

<div id="mainContent" class="wrapper">
  <div id="leftNavContent" class="ghCol">
    <div id="sideBox" class="ghWidgetBox" style="align:center;">
      <img style="width:100%" src="images/GHwookie.png" alt="A friendly black and white Wookie named Galaxy Harvester." title="Galaxy Harvester" />
    </div>
  </div>
  <div id="rightMainContent" class="ghCol">
    <div id="messageBox" class="ghWidgetBox">
      <div class="standOut">{{ theMessage }}</div>
        Go back to the <a href="/ghHome.py" title="Home Page">home</a> page.
      </div>
  </div>
</div>
{{ blocks.pageFooter() }}
{{ blocks.joinForm(loggedin, ['?src_url=feeds.py&', linkappend]|join, url) }}
<div id="mask"></div>
</body></html>
