{% import 'blocks.html' as blocks %}
<!DOCTYPE html>
<html lang="en"><head><title>Resource - Galaxy Harvester</title>
<link rel="stylesheet" href="/style/ghCore.css" type="text/css" />
<link rel="stylesheet" href="/style/themes/{{ uiTheme }}.css" type="text/css" />
<script type="text/javascript" src="/js/ghShared.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.autocomplete-min.js"></script>
<script type="text/javascript" src="/js/Colors.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#galaxySel").val(getCookie("galaxy",defaultGalaxy));
    $(".window .close").click(function(e) {
        e.preventDefault();
        $("#mask, .window").hide();
    });
    $("#mask").click(function() {
        $(this).hide();
        $(".window").hide();
    });
    findWaypoints("spawn");
    $("#typeSel").load(BASE_SCRIPT_URL + "getResourceTypeList.py", {galaxy:$("#galaxySel").val()});
    $("#newGalaxySel").val({{spawnGalaxy}});
    $("#bestSchematics").load(BASE_SCRIPT_URL + "getSchematicEvents.py", { spawnID: {{ spawnID }} });
    loadPlanetSel($("#galaxySel option:selected").val(), '', '#wpPlanetSel');
});
function saveAdmin() {
    var newName = document.getElementById("newResourceName").value;
    var newGalaxy = document.getElementById("newGalaxySel").value;
    $("#udInfo").animate({opacity: 0.0, fontSize: "1em"}, 200);
    $("#saveInfo").load(BASE_SCRIPT_URL + "udResourceAdmin.py",{spawnID:{{ spawnID }}, newSpawnName:newName, newGalaxyId:newGalaxy, gh_sid:"{{ sid }}"},
        function(){$("#udInfo").animate({opacity: 1.0, fontSize: "2em"}, 700);});
}
</script>
{{ blocks.pageTracker() }}
<body>
{{ blocks.headerSection(loggedin, currentUser, loginResult, linkappend, url, imgNum, galaxyList, pictureName) }}
<div id="mainContent" class="wrapper">
  <div id="leftNavContent" class="ghCol">
{% if showAdmin %}
    <div id="resourceAdmin" class="ghWidgetBox">
    <div class="boxHeader">Resource Admin</div>
        <div class="helpTopic">Noobs will be noobs.  If someone has entered this resource with a misspelled name, or added it to the wrong galaxy, use these controls to fix it.</div>
        <table>
        <tr><td>Fix Name: </td><td><input type='text' size=14 maxlength=255 id='newResourceName' value='{{ spawnName }}'></td></tr>
        <tr><td>Fix Galaxy: </td><td><select name='newGalaxySel' id='newGalaxySel'>
{{ galaxyList }}
        </select></td></tr>
        </table>
        <button name="adminSave" id="adminSave" onClick="saveAdmin()" class="ghButton">Save</button>
        <div id="saveInfo"></div>
    </div>
{% endif %}
    <div id="resourceWaypoints" class="ghWidgetBox">
    <div class="boxHeader">Waypoints
{% if loggedin == 1 %}
      <div style="float:right;"><button type=button value="New Waypoint" class="ghButton" onclick="addWaypoint('{{ spawnName }}');">New Waypoint</button></div>
{% endif %}
      </div>
    <input type="hidden" id="findSpawn" value="{{ spawnName }}"></input>
    <table id="findWaypointsList"></table>
    </div>
  </div>
  <div id="rightMainContent" class="ghCol">
    <div id="resourceInfo" class="ghWidgetBox">
{{ resHTML }}
    </div>
    <div id="resourceHistory" class="ghWidgetBox">
    <div class="boxHeader">Resource History</div>
{{ resHistory }}
    </div>
    <div id="serverBestHistory" class="ghWidgetBox">
    <div class="boxHeader">Server Best History</div>
    <div id="bestSchematics"></div>
    </div>
  </div>
</div>
{{ blocks.pageFooter() }}
{{ blocks.resourceForm() }}
{{ blocks.joinForm(loggedin, ['?src_url={{ BASE_SCRIPT_URL }}resource.py&', linkappend]|join, url) }}
{{ blocks.waypointForm(loggedin) }}
<div id="mask"></div>
</body></html>
