{% import 'blocks.html' as blocks %}
<!DOCTYPE html><html lang="en">
<head><title>Resource - Galaxy Harvester</title>
<link rel="stylesheet" href="/style/ghCore.css" type="text/css" />
<link rel="stylesheet" href="/style/themes/{{ uiTheme }}.css" type="text/css" />
<script type="text/javascript" src="/js/ghShared.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
function refreshCreatureData() {
  $("#resCreatures").load(BASE_SCRIPT_URL + "getCreatureList.py",{
      resType: "{{ typeID }}",
      galaxy: $("#galaxySel").val()},
      function() {
          $("#busyImgFindCreatures").css("display","none");
  });
}
$(document).ready(function() {
    $("#galaxySel").val(getCookie("galaxy",defaultGalaxy));
    $(".window .close").click(function(e) {
        e.preventDefault();
        $("#mask, .window").hide();
    });
    $("#mask").click(function() {
        $(this).hide();
        $(".window").hide();
    });
{% if typeID != '' %}
	$("#typeSel").load(BASE_SCRIPT_URL + "getResourceTypeList.py", {galaxy:-1});
	$("#resSchematics").load(BASE_SCRIPT_URL + "getSchematicList.py",{
	{% if (typeGroup == 'group') %}
		resGroup: "{{ typeID }}",
	{% elif (typeGroup == 'type') %}
		resType: "{{ typeID }}",
	{% endif %}
	        groupType: "res",
		galaxy: $("#galaxySel").val()},
	        function() {
	            $("#busyImgFindSchem").css("display","none");
	    });
{% endif %}
{% if typeGroup == 'type' %}
	{% if (creature > -1) %}
      refreshCreatureData();
	{% endif %}
{% else %}
	    $("#resChildren").load(BASE_SCRIPT_URL + "getResourceTypeList.py",{
	        galaxy: $("#galaxySel").val(),
          resGroup: "{{ typeID }}",
	        outType: "links"},
	        function() {
	            $("#busyImgFindChildren").css("display","none");
	    });
{% endif %}
{% if typeID != '' %}
	    $("#busyImgSpawns").css("display","block");
	    $("#recentSpawns").load(BASE_SCRIPT_URL + "getResourceList.py",{
	        galaxy: $("#galaxySel").val(),
	        unavailableDays: 6*7,
	{% if (typeGroup == 'group') %}
		resGroup: "{{ typeID }}",
	{% else %}
		resType: "{{ typeID }}",
	{% endif %}
	        sort: "timeEntered"},
	        function() {$("#busyImgSpawns").css("display","none");});
      $("#busyImgSpawns").css("display","block");
    	$("#bestSpawns").load(BASE_SCRIPT_URL + "getTopResources.py",{
    	    galaxy: $("#galaxySel").val(),
  {% if (typeGroup == 'group') %}
    resGroup: "{{ typeID }}",
  {% else %}
    resType: "{{ typeID }}",
  {% endif %}
    	    boxFormat: 0,
    	    unavailable: 1},
    	    function() {$("#busyImgSpawns").css("display","none");});
{% endif %}
});
</script>
{{ blocks.pageTracker() }}
<body>
{{ blocks.headerSection(loggedin, currentUser, loginResult, linkappend, url, imgNum, galaxyList, pictureName) }}
<div id="mainContent" class="wrapper">
{% if typeID != '' %}
	  <div id="leftNavContent" class="ghCol">
	    <div id="resTypeNav" class="ghWidgetBox">
	    <div class="boxHeader"><a href="{{ BASE_SCRIPT_URL }}resourceType.py">Resource Type Home</a></div>
	    </div>
	    <div id="schematicInfo" class="ghWidgetBox">
	    <div class="boxHeader">Schematics</div>
	      <div id="busyImgFindSchem" style="display:none;"><img src="/images/ghWait.gif" alt="waiting..." border=0 /></div>
	      <div id="resSchematics"></div>
	    </div>

	{% if typeGroup == 'type' %}
		{% if (creature > -1) %}
			<div id="creatureInfo" class="ghWidgetBox">
			<div class="boxHeader">Creatures
      {% if loggedin == 1 and editCreatures %}
      	<div style="float:right;"><button type=button value="Add Creature" class="ghButton" onclick="addCreature();">Add Creature</button></div>
      {% endif %}
      </div>
			  <div id="busyImgFindCreatures" style="display:none;"><img src="/images/ghWait.gif" alt="waiting..." border=0 /></div>
			  <div id="resCreatures"></div>
			</div>
		{% endif %}
	{% else %}
		<div id="childrenInfo" class="ghWidgetBox">
		<div class="boxHeader">Types</div>
		  <div id="busyImgFindChildren" style="display:none;"><img src="/images/ghWait.gif" alt="waiting..." border=0 /></div>
		  <div id="resChildren"></div>
		</div>
	{% endif %}
	  </div>
	  <div id="rightMainContent" class="ghCol">
{% endif %}
    <div id="resourceTypeInfo" class="ghWidgetBox">
{{ resHTML }}
{% if typeID != '' %}
	    <div id="busyImgSpawns" style="display:none;"><img src="/images/ghWait.gif" alt="waiting..." border=0 /></div>
      <h3>Recent Spawns</h3>
  	  <div id="recentSpawns"></div>
	    <h3>Best Spawns</h3>
	    <div id="bestSpawns"></div>
{% else %}
	{{ resTree }}
{% endif %}
    </div>
{% if typeID != '' %}
	  </div>
{% endif %}
</div>
{{ blocks.pageFooter() }}
{{ blocks.resourceForm() }}
{{ blocks.joinForm(loggedin, ['?src_url={{ BASE_SCRIPT_URL }}resource.py&', linkappend]|join, url) }}
{% if loggedin != 0 %}
	<div id="creatureDialog" class="window">
	    <form name="addcreatureform">
	    <table class="bigForm"><tr><td colspan="2"><h2 id="creatureFormTitle">New Creature Data</h2></td>
	    <td align="right"><a href="#" class="close">Close</a></td></tr>
	    <tr><td align="right" width="140">Creature Name: </td>
	    <td><input type="text" name="creatureName" id="creatureName" tabindex="120" size="20" maxlength="63" onchange="valMinLength(this, document.getElementById('creatureNameInf'),1);" /></td>
	    <td><span id="addInfo"></span><span id="creatureNameInf" class="formMsg">Creature name is not valid.</span><span id="creatureNameInfo" class="content"></span><br /></td></tr>
	    <tr><td align="right">Harvest Yield: </td>
	    <td><input type="text" name="harvestYield" tabindex="122" size="5" maxlength="5" id="harvestYield" onchange="valInteger(this, document.getElementById('yieldInf'))" /></td>
	    <td><span id="yieldInf" class="formMsg">Enter a valid integer for harvest yield amount.</span><br /></td></tr>
	    <tr><td align="right">Mission Level: </td>
	    <td><span id="missionLevelEntry"><input type="text" name="missionLevel" tabindex="122" size="5" maxlength="5" id="missionLevel" onchange="valInteger(this, document.getElementById('missionLevelInf'));" /></span></td>
	    <td><span id="missionLevelInf" class="formMsg">Enter a valid interger for mission level.</td></tr>
	    </table>
      <input type="hidden" name="resourceType" id="resourceType" value="{{ resourceType }}" />
      <input type="hidden" name="operation" id="operation" value="" />
	    <div id="busyImgAddCreature" style="display:none;float:right;"><img src="/images/ghWait.gif" /></div>
	    <div style="text-align: center;padding: 20px;"><button type="button" id="sendCreatureData" tabIndex="123" class="ghButton" onclick="postCreature()">Add Creature</button></div></form>
	    <div id="addCreatureInfo"></div>
	</div>
{% endif %}
<div id="mask"></div>
</body></html>
