{% import 'blocks.html' as blocks %}
<!DOCTYPE html>
<html lang="en"><head><title>Schematic Editor - Galaxy Harvester</title>
<link rel="stylesheet" href="/style/ghCore.css" type="text/css" />
<link rel="stylesheet" href="/style/themes/{{ uiTheme }}.css" type="text/css" />
<script type="text/javascript" src="/js/ghShared.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.20.custom.min.js"></script>
<script type="text/javascript">
var quickAddGroups = {};
quickAddGroups['architectExtraction'] = 'HR:25:1,SR:25:1,UT:50:2';
quickAddGroups['architectHopperSize'] = 'MA:33:1,UT:67:2';
quickAddGroups['armorsmithDurability'] = 'OQ:50:1,UT:50:1';
quickAddGroups['armorsmithResistance'] = 'OQ:50:1,SR:50:1';
quickAddGroups['armorsmithEncumbrance'] = 'MA:50:1,OQ:50:1';
quickAddGroups['beEffectiveness'] = 'FL:20:2,OQ:50:5,PE:30:3';
quickAddGroups['chefFilling'] = 'DR:75:3,OQ:25:1';
quickAddGroups['chefFlavor'] = 'FL:67:2,OQ:33:1';
quickAddGroups['chefNutrition'] = 'OQ:33:1,PE:67:2';
quickAddGroups['chefQuantity'] = 'DR:25:1,PE:75:3';
quickAddGroups['cmPower'] = 'OQ:67:2,PE:33:1';
quickAddGroups['cmRange'] = 'CD:33:1,OQ:67:2';
quickAddGroups['doctorCharges'] = 'OQ:67:2,UT:33:1';
quickAddGroups['doctorDuration'] = 'DR:50:1,OQ:50:1';
quickAddGroups['doctorPower'] = 'OQ:67:2,PE:33:1';
quickAddGroups['generalEffectiveness'] = 'OQ:100:1';
quickAddGroups['weaponsmithRanged'] = 'CD:50:1,OQ:50:1';
quickAddGroups['weaponsmithMelee'] = 'SR:100:1';

$(document).ready(function() {
  $("#galaxySel").val(getCookie("galaxy",defaultGalaxy));
  $('#schemProfSel').val({{ profession }})
  refreshSkillGroups('{{ schematic.skillGroup }}');
  $('#craftingTabSel').val('{{ schematic.craftingTab }}');
  $("#objectTypeSel").val('{{ schematic.objectType }}');
	loadIngredientPicker();
  $(".statSelector").each( function(i, obj) {
    $(obj).val($(obj).attr('tag'));
  });
  $("#schematicHistory").load(BASE_SCRIPT_URL + "getSchematicEvents.py", { schematicID: "{{ schematicID }}" });
  $(".window .close").click(function(e) {
		e.preventDefault();
		$("#mask, .window").hide();
	});
	$("#mask").click(function() {
		$(this).hide();
		$(".window").hide();
	});
});
function handleIngredientDrop(event, ui) {
  transmuteIngredient(ui.draggable);
}
function ingredientPickerItemClick() {
    inv = this;
    $("#ingredientPickerList").find("div.inventoryItem").css("border", "none");
    $("#ingredientPickerList").find("div.inventoryItem").css("margin", "4px");
    $(this).css("border", "1px solid");
    $(this).css("margin", "3px");
}
function ingredientPickerItemDoubleClick() {
    transmuteIngredient(this);
}
function transmuteIngredient(ingredientObject) {
  var objectName = $(ingredientObject).children('div').html();
  var objectID = $(ingredientObject).attr('id').replace('resInventory', '').replace('schemComponent', '');
  var imageName = $(ingredientObject).css('background-image').replace('url("', '').replace('")', '');

  addSchematicIngredient(objectID, objectName, imageName);
}
function addSchematicIngredient(objectID, objectName, imagePath) {
  // Add new ingredient row
  $('#ingredientTable').append('							<tr class="ingredientRow" tag="' + objectID + '">'+
                  '<td><img src="/images/xRed16.png" alt="Remove Ingredient" title="Remove Ingredient" style="cursor:pointer;" onclick="$(this).parent().parent().remove();"/></td>'+
                  '<td><input type="text" name="ing_name" value=""  /></td>'+
                  '<td style="padding-right:4px;"><input type="text" name="ing_qty" size="5" maxlength="7" value="" /></td>'+
                  '<td><input type="checkbox" name="ing_req" checked="checked" /></td>' +
                  '<td><img src="'+imagePath+'" class="schematicIngredient" title="' + objectName + '"/></td>'+
  						  '</tr>');
}
function loadIngredientPicker() {
    $("#busyImgList").css("display","block");
    var ingredientService = "";
    if ($("#oResType").attr("checked") == "checked") {
      ingredientService = "getResourceTypeList.py";
      $("#tabSel").css("display","none");
      $("#resGroupSel").css("display","block");
      $("#resGroupShortSel").css("display","none");
    } else if ($("#oResGroup").attr("checked") == "checked") {
      ingredientService = "getResourceGroupList.py";
      $("#tabSel").css("display","none");
      $("#resGroupSel").css("display","none");
      $("#resGroupShortSel").css("display","block");
    } else {
      ingredientService = "getComponentList.py";
      $("#tabSel").css("display","block");
      $("#resGroupSel").css("display","none");
      $("#resGroupShortSel").css("display","none");
    }

    $("#ingredientPickerList").load(BASE_SCRIPT_URL + ingredientService,{
        galaxy: $("#galaxySel").val(),
        outType: "graphic",
        resCategory: $("#resGroupShortSel").val(),
        resGroup: $("#resGroupSel").val(),
        craftingTab: $("#tabSel").val()},
        function() {
            var ipl = $("#ingredientPickerList");
            ipl.find("div.inventoryItem").draggable({
                stack: ".inventoryItem",
                cursor: "grab",
                revert: "true",
                appendTo: "body",
                helper: "clone"}).click(ingredientPickerItemClick).dblclick(ingredientPickerItemDoubleClick);
            $("#schematicIngredients").droppable({
                drop: handleIngredientDrop,
                hoverClass: "control"
            });
            $("#busyImgList").css("display","none");
        });
    return false;
}
function refreshSkillGroups(selValue) {
  // Selects a value after updating list so correct value is selected on page load
	$("#skillGroupSel").load(BASE_SCRIPT_URL + "getSkillGroupList.py", { prof: $("#schemProfSel").val() }, function() {
    $('#skillGroupSel').val(selValue);
  })
}
function newExpGroup(groupName) {
  $('#qualitiesList').append('<div class="expQualityGroup"><img src="/images/xRed16.png" alt="Remove Group" title="Remove Group" style="cursor:pointer;" onclick="$(this).parent().remove();"/><input type="text" name="qualityGroupName" value="' + groupName + '" /></div>')
}
function addExpQuality(quickAddType) {
  quickAddStats = quickAddGroups[quickAddType].split(',');
  tmpID = new Date().getTime();
  groupStr = '<div class="expQuality" style="padding-left:20px;font-weight:bold;">'
             + '<img src="/images/xRed16.png" alt="Remove Exp. Quality" title="Remove Exp. Quality" style="cursor:pointer;" onclick="$(this).parent().remove();"/>'
             + '<input type="text" name="expQualityName" value="' + quickAddType + '" />';
  for (i = 0; i < quickAddStats.length; i++) {
    statInfo = quickAddStats[i].split(':');
    groupStr = groupStr + '<li class="qualityStat" style="padding-left:40px;">'
               + '<span id="stat_new_' + statInfo[0] + '_' + tmpID + '" class="inlineBlock" style="width:120px;"></span>'
               + '<span name="swVal" tag="' + statInfo[2] + '">' + statInfo[1] + '%</span>'
               + '</li>';
  }
  groupStr = groupStr + '</div>'

  $('.expQualityGroup').last().append(groupStr);
  // Add in the stat selector by cloning
  for (i = 0; i < quickAddStats.length; i++) {
    statInfo = quickAddStats[i].split(':');
    newSelector = $('.statSelectorSource').clone();
    newSelector.attr('class','');
    newSelector.attr('id', 'statSel_new_' + statInfo[0] + '_' + tmpID);
    newSelector.attr('name', 'swSel');
    $('#stat_new_' + statInfo[0] + '_' + tmpID).append(newSelector);
    $('#statSel_new_' + statInfo[0] + '_' + tmpID).val(statInfo[0]);
  }
}
function saveSchematic() {
  $("#busyImgSave").css("display","block");
  var errors = '';
  // build object based on form for submittal
  var schematic = {};
  schematic.schematicID = '{{ schematicID }}';
  schematic.galaxy = '{{ schematic.galaxy }}';
  schematic.schematicName = $('#schematicName').val();
  schematic.craftingTab = $('#craftingTabSel').val();
  schematic.skillGroup = $('#skillGroupSel').val();
  schematic.objectType = $('#objectTypeSel').val();
  schematic.complexity = $('#complexity').val();
  schematic.xpAmount = $('#xpAmount').val();
  schematic.ingredients = [];
  schematic.qualityGroups = [];

  if ( schematic.schematicName.length < 2 ) {
    errors = errors + "  You must enter a valid schematic name.";
  }

  ingredientRows = $('#ingredientTable').find('.ingredientRow');
  for ( i = 0; i < ingredientRows.length; i++ ) {
    var ingredient = {};
    ingredient.ingredientName = ingredientRows.eq(i).find('input[name="ing_name"]').eq(0).val();
    if ( ingredient.ingredientName.length < 2 ) {
      errors = errors + '  Ingredient ' + String(i + 1) + ' does not have a valid name entered.';
    }
    ingredient.ingredientObject = ingredientRows.eq(i).attr('tag');
    if ( ingredient.ingredientObject.indexOf('object/') > -1 ) {
      if ( ingredientRows.eq(i).find('input[name="ing_req"]').eq(0).attr('checked') == 'checked' ) {
        ingredient.ingredientType = 1;
      } else {
        ingredient.ingredientType = 3;
      }
    } else {
      ingredient.ingredientType = 0;
    }
    ingredient.ingredientQuantity = ingredientRows.eq(i).find('input[name="ing_qty"]').eq(0).val();
    if ( isNaN(parseInt(ingredient.ingredientQuantity)) ) {
      errors = errors + '  Ingredient ' + String(i + 1) + ' does not have a valid quantity entered.';
    }
    schematic.ingredients.push(ingredient);
  }

  qualityGroups = $('#qualitiesList').find('.expQualityGroup');
  for ( i = 0; i < qualityGroups.length; i++ ) {
    var qualityGroup = {};
    qualityGroup.group = qualityGroups.eq(i).find('input[name="qualityGroupName"]').eq(0).val();
    if ( qualityGroup.group.length < 2 ) {
      errors = errors + '  Quality group ' + String(i + 1) + ' does not have a valid name entered.';
    }
    qualityGroup.properties = []

    expProps = qualityGroups.eq(i).find('.expQuality');
    for ( x = 0; x < expProps.length; x++ ) {
      var expProp = {};
      expProp.prop = expProps.eq(x).find('input[name="expQualityName"]').eq(0).val();
      if ( expProp.prop.length < 2 ) {
        errors = errors + ' Experimental property ' + String(x + 1) + ' in quality group ' + String(i + 1) + ' does not have a valid name entered.';
      }
      expProp.statWeights = [];
      var weightTotal = 0;
      statWeights = expProps.eq(x).find('.qualityStat');
      for ( y = 0; y < statWeights.length; y++ ) {
        var schemStatWeight = {};
        schemStatWeight.stat = statWeights.eq(y).find('select[name="swSel"]').eq(0).val();
        schemStatWeight.statWeight = statWeights.eq(y).find('span[name="swVal"]').eq(0).attr('tag');
        expProp.statWeights.push(schemStatWeight);
        weightTotal = weightTotal + parseInt(schemStatWeight.statWeight);
      }
      expProp.weightTotal = weightTotal;
      qualityGroup.properties.push(expProp);
    }
    schematic.qualityGroups.push(qualityGroup);
  }

  if ( errors == '' ) {
    $.post(BASE_SCRIPT_URL + "postSchematic.py", { gh_sid: "'+sid+'", forceOp: "edit", schematicID: schematic.schematicID, schematic: JSON.stringify(schematic), galaxy: $("#galaxySel option:selected").val() },
      function(data) {
        alert(data);
        document.location.href='/schematics.py/{{ schematicID }}';
      });
  } else {
    alert('There are some problems with your schematic, please correct: ' + errors);
  }
  $("#busyImgSave").css("display","none");
}
</script>
{{ blocks.pageTracker() }}
<body>
{{ blocks.headerSection(loggedin, currentUser, loginResult, linkappend, url, imgNum, galaxyList, pictureName) }}
<div id="mainContent" class="wrapper">
  <div id="leftNavContent" class="ghCol">
    <div id="schemList" class="ghWidgetBox">
      <div class="boxHeader">Ingredient Selector
        <span style="float:right;font-weight:normal;font-size:.9em;"><a href="{{ BASE_SCRIPT_URL }}schematics.py/home" title="Go back to the schematics home page">[Home]</a></span>
		  </div>
      <div>View: <span style="font-weight:normal;">
        <input type="radio" name="oSelectType" id="oResGroup" value="ByResGroup" checked="checked" onclick="loadIngredientPicker()" />Resource Groups &nbsp;
        <input type="radio" name="oSelectType" id="oResType" value="ByResType" onclick="loadIngredientPicker()" />Resource Types
        <input type="radio" name="oSelectType" id="oComponent" value="ByComponent" onclick="loadIngredientPicker()" />Components
        </span>
		  </div>
      Filter:
      <select name="resGroupShortSel" id="resGroupShortSel" style="display:none;" onchange="setCookie('ingListResGroupShortSel',this.value,7);loadIngredientPicker();">
        {{ resourceGroupListShort }}
      </select>
      <select name="resGroupSel" id="resGroupSel" style="display:none;" onchange="setCookie('ingListResGroupSel',this.value,7);loadIngredientPicker();">
        {{ resourceGroupList }}
      </select>
      <select name="tabSel" id="tabSel" style="display:none;" onchange="setCookie('ingListTabSel',this.value,7);loadIngredientPicker();">
        {{ schematicTabList }}
      </select>
      <div id=busyImgList><img src="/images/ghWait.gif" alt="waiting..." border=0 /></div>
      <div id="ingredientPickerList"></div>
    </div>
  </div>
  <div id="rightMainContent" class="ghCol">
    <div class="ghWidgetBox">
			<div class="bigLink">Schematic: <input type="text" id="schematicName" name="schematicName" value="{{ schematic.schematicName }}" size="60" maxlength="255" />
      <div id="busyImgSave" style="display:none;"><img src="/images/ghWait.gif" alt="waiting..." border=0 /></div>
			{% if loggedin == 1 %}
					<div style="float:right;">
            <button type=button value="Cancel" class="ghButton" onclick="document.location.href='/schematics.py/{{ schematicID }}';">Cancel</button>
						<button type=button value="Save Schematic" class="ghButton" onclick="saveSchematic();">Save Schematic</button>
					</div>
			{% endif %}
      </div>
      <div class="footer"></div>
			<table width="100%">
				<tr>
					<td valign="top" width="340px"><h3>Ingredients</h3>
            <div id="schematicIngredients" style="min-height:76px;:">
						<table id="ingredientTable">
              <tr><th></th><th>Ingredient Name</th><th title="Quantity - Resource amount or number of components.">Qty.</th><th title="Is ingredient required?">Req?</th><th></th></tr>
					{% for ingredient in schematic.ingredients %}
							<tr class="ingredientRow" tag="{{ ingredient.ingredientObject }}">
                <td><img src="/images/xRed16.png" alt="Remove Ingredient" title="Remove Ingredient" style="cursor:pointer;" onclick="$(this).parent().parent().remove();"/></td>
                <td><input type="text" name="ing_name" value="{{ ingredient.ingredientName }}"  /></td>
                <td style="padding-right:4px;"><input type="text" name="ing_qty" size="5" maxlength="7" value="{{ ingredient.ingredientQuantity }}" /></td>
              {% if ingredient.ingredientType > 2 %}
                <td><input type="checkbox" name="ing_req" /></td>
              {% else %}
                <td><input type="checkbox" name="ing_req" checked="checked" /></td>
              {% endif %}
                <td><img src="{{ ingredient.objectImage }}" class="schematicIngredient" title="{{ ingredient.objectName }}" /></td>
						  </tr>
					{% endfor %}
					  </table>
            </div>
					</td>

					<td valign="top"><h3>Qualities</h3>
            <div><table><tr><td>Add Group:</td><td><input type="text" id="addExpGroupName" maxlength="31" /></td><td><button type=button value="Add" class="ghButton" onclick="newExpGroup($('#addExpGroupName').val());">Add</button></td></tr>
            <tr><td>Add Quality:</td><td><select id="qualityAddSel">
              <option value="architectExtraction">Architect Extraction</option>
              <option value="architectHopperSize">Architect Hopper Size</option>
              <option value="armorsmithDurability">Armorsmith Durability</option>
              <option value="armorsmithResistance">Armorsmith Resistance</option>
              <option value="armorsmithEncumbrance">Armorsmith Encumbrance</option>
              <option value="beEffectiveness">Bio-Engineer Effectiveness</option>
              <option value="chefFilling">Chef Filling</option>
              <option value="chefFlavor">Chef Flavor</option>
              <option value="chefNutrition">Chef Nutrition</option>
              <option value="chefQuantity">Chef Quantity</option>
              <option value="cmPower">Combat Medic Power</option>
              <option value="cmRange">Combat Medic Range</option>
              <option value="doctorCharges">Doctor Charges</option>
              <option value="doctorDuration">Doctor Duration</option>
              <option value="doctorPower">Doctor Power</option>
              <option value="generalEffectiveness">General Effectiveness</option>
              <option value="weaponsmithRanged">Weaponsmith Ranged</option>
              <option value="weaponsmithMelee">Weaponsmith Melee</option>
            </select></td><td><button type=button value="Add" class="ghButton" onclick="addExpQuality($('#qualityAddSel').val());">Add</button></td></tr></table>
            <ul id="qualitiesList" style="margin-top:6px;">
					{% for qualityGroup in schematic.qualityGroups %}
							<div class="expQualityGroup"><img src="/images/xRed16.png" alt="Remove Group" title="Remove Group" style="cursor:pointer;" onclick="$(this).parent().remove();"/><input type="text" name="qualityGroupName" value="{{ qualityGroup.groupName() }}" />
							{% for expProp in qualityGroup.properties %}
									<div class="expQuality" style="padding-left:20px;font-weight:bold;">
                    <img src="/images/xRed16.png" alt="Remove Exp. Quality" title="Remove Exp. Quality" style="cursor:pointer;" onclick="$(this).parent().remove();"/>
                    <input type="text" name="expQualityName" value="{{ expProp.propertyName() }}" />
									{% for statWeight in expProp.statWeights %}
										<li class="qualityStat" style="padding-left:40px;" tag="{{ statWeight.qualityID }}"><span class="inlineBlock" style="width:120px;">
                      <select class="statSelector" name="swSel" tag="{{ statWeight.stat }}">{{ statList }}</select></span>
                      <span name="swVal" tag="{{ statWeight.statWeight }}">{{ statWeight.weightPercent() }}%</span>
                    </li>
									{% endfor %}
                </div>
							{% endfor %}
              </div>
					{% endfor %}
					  </ul>
          </div>
          </td>

					<td valign="top" width="340px">
            <table>
						  <tr><td>Profession: </td><td><select name="schemProfSel" id="schemProfSel" onchange="refreshSkillGroups()"><option value=0>Select Profession</option>
				      {{ professionList }}
              </select></td></tr>
						  <tr><td>Skill Group: </td><td><select name="skillGroupSel" id="skillGroupSel"></select></td></tr>
						  <tr><td>Crafting Tab: </td><td><select name="craftingTagSel" id="craftingTabSel">
              {{ schematicTabList }}
              </select></td></tr>
						  <tr><td>Object Type: </td><td><select name="objectTypeSel" id="objectTypeSel">
              {{ objectTypeList }}
              </select></td></tr>
						  <tr><td>XP: </td><td><input type="text" id="xpAmount" name="xpAmount" size="4" maxlength="5" value="{{ schematic.xpAmount }}" /></td></tr>
						  <tr><td>Complexity: </td><td><input type="text" id="complexity" name="complexity" size="4" maxlength="5" value="{{ schematic.complexity }}" /></td></tr>
            </table>
            <img src="/images/schematics/{{ schematic.schematicImage }}" class="schematics" />
  					<div id="udInfo">{{ schemImageAttempt }}</div>
            <form enctype="multipart/form-data" name="udImageForm" method="post" action="{{ BASE_SCRIPT_URL }}udSchematicImage.py">
            <div class="inlineBlock" style="width:120px;font-weight:bold;">Add Image</div><div class="inlineBlock" style="text-align:right;">Use image from another schematic: <input type="checkbox" name="useExisting" id="useExisting" onclick="switchImageInput();" /></div>
            <select id="copyFromSchem" name="copyFromSchem" style="display:none;"></select>
            <input type="file" id="schemImage" name="schemImage" accept="image/gif, image/jpeg, image/png" />
            <input type="hidden" name="schematicID" value="{{ schematicID }}" />
            <input type="hidden" name="src_url" value="{{ BASE_SCRIPT_URL }}schematics.py" />
            <input type="submit" value="Add" name="gosi" id="gosi" class="ghButton" />
            </form>
					</td>
			  </tr>
			</table>
	    <div class="footer" style="margin-top:12px;"></div>
      <div class="boxHeader">Schematic Edit History</div>
      <div id="schematicHistory"></div>
      </div>
    </div>
	</div>
</div>
{{ blocks.pageFooter() }}
{{ blocks.joinForm(loggedin, ['?src_url={{ BASE_SCRIPT_URL }}schematics.py&', linkappend]|join, url) }}
<div id="mask"></div>
<div id="tooltip"></div>
<div style="display:none;"><select class="statSelectorSource">{{ statList }}</select></div>
</body></html>
