{% import 'blocks.html' as blocks %}
<!DOCTYPE html>
<html lang="en"><head><title>Stats - Galaxy Harvester</title>
{{ blocks.commonResources(uiTheme, enableCAPTCHA) }}
<script type="text/javascript">
$(document).ready(function() {
    $("#galaxySel").val(getCookie("galaxy",defaultGalaxy));
    $("#harvesterData").load("getHarvesterData.py",{galaxy:$("#galaxySel").val(), uid:"{{ uid }}"}, function(){$("#addBusyImgHD").css("display","none");});
    $("#userHistory").load("getUserHistory.py",{galaxy:$("#galaxySel").val(), uid:"{{ uid }}"}, function(){$("#addBusyImgUH").css("display","none");});
	$("#harvesterDataC").load("getHarvesterData.py",{galaxy:$("#galaxySel").val(),period:"current"},function(){$("#addBusyImgHDC").css("display","none");});
	$("#harvesterDataG").load("getHarvesterData.py",{galaxy:$("#galaxySel").val(),period:"category"},function(){$("#addBusyImgHDG").css("display","none");});
	$("#memberData").load("getMemberList.py",{galaxy:$("#galaxySel").val()}, function(){$("#addBusyImgMD").css("display","none");});
    $(".window .close").click(function(e) {
        e.preventDefault();
        $("#mask, .window").hide();
    });
    $("#mask").click(function() {
        $(this).hide();
        $(".window").hide();
    });
    $("#themeSel").change(function() {
        // switch color style css when select changes
        $("#colorStyle").attr("href","/style/themes/"+this.value+".css");
    });
});
function moreHistory(lastTime) {
    $.get("getUserHistory.py",{galaxy:$("#galaxySel").val(), uid:"{{ uid }}", lastTime: lastTime},
        function(data) {
            $("#moreButton").remove();
            $("#userHistory").append(data);
        }, "html");
}
</script>
{{ blocks.pageTracker() }}
<body>
{{ blocks.headerSection(loggedin, currentUser, loginResult, linkappend, url, imgNum, galaxyList, pictureName) }}
<div id="mainContent" class="wrapper">
  <div class="ghCol" style="width:35%;">
    <div id="userStats" class="ghWidgetBox">
        <div class="boxHeader">User Stats</div>
	    <h4 class="sectionHead">All Time</h4>
        <div id="harvesterData"></div>
        <div id=addBusyImgHD class="lds-ripple"><div></div><div></div></div>
	    <h4 class="sectionHead">Adds by Category</h4>
	    <div id="harvesterDataG"></div>
	    <div id=addBusyImgHDG class="lds-ripple"><div></div><div></div></div>
	    <h4 class="sectionHead">Current Spawns</h4>
	    <div id="harvesterDataC"></div>
	    <div id=addBusyImgHDC class="lds-ripple"><div></div><div></div></div>
    </div>
	<div id="userList" class="ghWidgetBox">
	    <div class="boxHeader">All Time Resource Add Ranking</div>
	    <div id="memberData"></div>
	    <div id=addBusyImgMD class="lds-ripple"><div></div><div></div></div>
	</div>
  </div>
  <div class="ghCol" style="width:65%;">
    <div class="ghWidgetBox">
	    <h3>Top Harvesters Charts</h3>
	    <div id="byCategoryCharts" class="charts">
	    <div class="inlineBlock">All Time Top Creature Resource Adders<br />
	    <img src="{{ chart1URL }}" alt="Top Creature Resource Adders" title="Top Creature Resource Adders" /></div>
	    <div class="inlineBlock">All Time Top Inorganic Resource Adders<br />
	    <img src="{{ chart2URL }}" alt="Top Inorganic Resource Adders" title="Top Inorganic Resource Adders" /></div>
	    <div class="inlineBlock">All Time Top Flora Resource Adders<br />
	    <img src="{{ chart3URL }}" alt="Top Flora Resource Adders" title="Top Flora Resource Adders" /></div>
	    </div><div id="byActionCharts" class="charts">
	    <div class="inlineBlock">All Time Top Cleanup<br />
	    <img src="{{ chart4URL }}" alt="Top Cleanup" title="Top Cleanup" /></div>
	    <div class="inlineBlock">All Time Top Planet Adds<br />
	    <img src="{{ chart5URL }}" alt="Top Planet Adders" title="Top Planet Adders" /></div>
	    <div class="inlineBlock">All Time Top Verifiers<br />
	    <img src="{{ chart6URL }}" alt="Top Verifiers" title="Top Resource Verifiers" /></div>
	    </div>
    <br /><h3 style="clear:both;">Recent Activity</h3>
    <div id="userHistory"></div>
    <div id=addBusyImgUH class="lds-ripple"><div></div><div></div></div>
    </div>
  </div>
</div>
{{ blocks.pageFooter() }}
{{ blocks.joinForm(loggedin, ['?src_url=stats.py&', linkappend], url, enableCAPTCHA, siteidCAPTCHA) }}
<div id="mask"></div>
</body></html>
