{% import 'blocks.html' as blocks %}
<!DOCTYPE html>
<html lang="en"><head><title>Users - Galaxy Harvester</title>
{{ blocks.commonResources(uiTheme, enableCAPTCHA) }}
<script type="text/javascript">
$(document).ready(function() {
    $("#galaxySel").val(getCookie("galaxy",defaultGalaxy));
    $("#harvesterData").load(BASE_SCRIPT_URL + "getHarvesterData.py",{galaxy:$("#galaxySel").val(), uid:"{{ uid }}"}, function(){$("#addBusyImgHD").css("display","none");});
    $("#userHistory").load(BASE_SCRIPT_URL + "getUserHistory.py",{galaxy:$("#galaxySel").val(), uid:"{{ uid }}"}, function(){$("#addBusyImgUH").css("display","none");});
	  $("#friendList").load(BASE_SCRIPT_URL + "getFriendsList.py",{uid:"{{ uid }}"}, function(){$("#flBusyImg").css("display","none");});
    $(".window .close").click(function(e) {
        e.preventDefault();
        $("#mask, .window").hide();
    });
    $("#mask").click(function() {
        $(this).hide();
        $(".window").hide();
    });
    $("#themeSel").change(function() {
        // switch color style css when select changes
        $("#colorStyle").attr("href","/style/themes/"+this.value+".css");
    });
{% if (loggedin == 1 and currentUser == uid) %}
	    $("#themeSel").val("{{ uiTheme }}");
			$("#inGameInfo").val("{{ convertGI }}");
			$("#inventoryShareSel").val("{{ sharedInventory }}");
			$("#recipeShareSel").val("{{ sharedRecipes }}");
{% endif %}
});
function moreFriends(lastFriend, dir) {
    $('#friendList').html('<div id="flBusyImg"><img src="/images/ghWait.gif" alt="waiting..." border=0 /></div>');
    $.get(BASE_SCRIPT_URL + "getFriendsList.py",{uid:"{{ uid }}", lastUser: lastFriend, direction: dir},
        function(data) {
            if (data.indexOf("Error:") == -1) {
                $("#friendList").html(data);
            } else {
                $("#friendList").html("");
            }
            $("#flBusyImg").css("display","none");
        }, "html");
}
function moreHistory(lastTime) {
    $.get(BASE_SCRIPT_URL + "getUserHistory.py",{galaxy:$("#galaxySel").val(), uid:"{{ uid }}", lastTime: lastTime},
        function(data) {
            $("#moreButton").remove();
            $("#userHistory").append(data);
        }, "html");
}
{% if (loggedin == 1 and currentUser == uid) %}
function udPassword() {
    var thePwd = document.getElementById("userpass").value;
    var sid = "{{ sid }}";
    $("#udInfo").load(BASE_SCRIPT_URL + "udPassword.py",{userpass:thePwd,gh_sid:sid});
}
function udEmail() {
    var theEmail = document.getElementById("email").value;
    var sid = "{{ sid }}";
    $("#udInfo").load(BASE_SCRIPT_URL + "udEmail.py",{email:theEmail,gh_sid:sid});
}
function udOther() {
		var theTheme = document.getElementById("themeSel").value;
		var shareInventory = document.getElementById("inventoryShareSel").value;
		var shareRecipes = document.getElementById("recipeShareSel").value;
    var ign = document.getElementById("inGameInfo").value;
    var alerts = 0;
    if ($("#oHome").attr("checked") == "checked") {
      alerts += 1;
    }
    if ($("#oEmail").attr("checked") == "checked") {
      alerts += 2;
    }
    if ($("#oMobile").attr("checked") == "checked") {
      alerts += 4;
    }
    if (ign.length > 255) {
        alert("Your in game info must be 255 characters or less.");
        return false;
    }
    $("#udInfo").animate({opacity: 0.0, fontSize: "1em"}, 200);
    $("#udInfo").load(BASE_SCRIPT_URL + "udUserOther.py",{uiTheme:theTheme, sharedInventory:shareInventory, sharedRecipes:shareRecipes, inGameInfo: ign, defaultAlerts: alerts, gh_sid: "{{ sid }}"},
        function(){$("#udInfo").animate({opacity: 1.0, fontSize: "2em"}, 700);});
}
// Account removal initiation
function deleteMe() {
	$('#wpName').val('');
	$("#addInfo").html('');
	showWindow('#deleteMeDialog');
	return true;
}
// Account removal completion
function goDeleteMe(confirmationText) {
    if ( confirmationText == 'delete' ) {
		$("#busyImgDelete").show();
        $.get(BASE_SCRIPT_URL + "delUser.py", {confirm: confirmationText, user: "{{ uid }}", rid: new Date()}, function(data) {
			if (data.indexOf("Error:")>-1) {
				$("#delInfo").html(data);
				$("#busyImgDelete").hide();
			} else {
				document.location.href=BASE_SCRIPT_URL + "logout.py?src_url=" + BASE_SCRIPT_URL + "ghHome.py";
			}
		});
    } else {
		alert('Confirmation text failed... maybe you don\'t really want to quit?');
	}
	return true;
}
function checkConfirmText(confirmationText) {
	if ( confirmationText == 'delete' ) {
		$('#confirmIt').css('color', 'red');
	} else {
		$('#confirmIt').css('color', 'black');
	}
}
{% endif %}
</script>
{{ blocks.pageTracker() }}
<body>
{{ blocks.headerSection(loggedin, currentUser, loginResult, linkappend, url, imgNum, galaxyList, pictureName) }}
<div id="mainContent" class="wrapper">
  <div class="ghCol" style="width:35%;">
    {% if (loggedin == 1 and currentUser == uid) %}
    	<div id="userForm" class="ghWidgetBox">
    	  <span id="udInfo">
    	{% if avatarResult != '' %}
    		{{ avatarResult }}
    	{% endif %}
    	  </span>
    	  <div class="boxHeader">User Controls</div>
    	  <div class="newsItem"><h3>Avatar</h3><form enctype="multipart/form-data" name="udAvatarForm" method="post" action="/udUserImage.py">
    	    <input type="file" id="avatar" name="avatar" accept="image/gif, image/jpeg, image/png" />
    	    <input type="submit" value="Update" name="goavatar" id="goavatar" class="ghButton" />
    	  </form></div>
    	  <div class="newsItem"><h3>E-mail Address</h3>
    	    <input type="text" id="email" size="24" maxlength="255" onchange="valEmail(this)" value="{{ email }}"/>
    	    <button name="goemail" id="goemail" onClick="udEmail()" class="ghButton">Update e-mail</button>
    	    <span id="emailInf" class="formMsg">Please enter a valid e-mail address.</span>
    	  </div>
    	  <div class="newsItem"><h3>Password Change</h3>
          <button name="gopwd" id="gopwd" onClick="udPassword()" class="ghButton" style="float:right;">Update Password</button>
    	    <span>Password: </span>
    	    <input type="password" id="userpass" size="12" maxlength="16" onchange="valPass(this)" id="userpass" />
    	    <span id="passInf" class="formMsg">Password must be at least 6 characters.</span><br />
    	    <span>Verify Pwd: </span>
    	    <input type="password" id="verifypass" size="12" maxlength="16" onchange="valVpass(&quot;userpass&quot;,this)" />
    	    <span id="vpassInf" class="formMsg">Passwords do not match.</span>
        </div>
    	  <div class="newsItem"><h3>Other Info</h3>
					<button name="goother" id="goother" onClick="udOther()" class="ghButton" style="float:right;">Save</button>
					<table style="padding: 4px;">
						<tr><td class="boxHeader">Theme:</td><td><select id="themeSel" name="themeSel">{{ themeList }}</select></td></tr>
						<tr><td class="boxHeader">Inventory Sharing:</td><td><select id="inventoryShareSel"><option value="0">None</option><option value="1">Only Friends</option><option value="2">Public</option></select></td></tr>
						<tr style="display:none;"><td class="boxHeader">Recipe Sharing:</td><td><select id="recipeShareSel"><option value="0">None</option><option value="1">Only Friends</option><option value="2">Public</option></select></td></tr>
					</table>
          <h3>Default Alert Types:</h3>
          <table class="resourceStats"><tr>
            <th class="tableHead"><img src="/images/browser16.png"/>Site</th>
            <th class="tableHead"><img src="/images/email16.png"/>E-mail</th>
            <th class="tableHead"><img src="/images/mobile16.png"/>Mobile</th>
          </tr><tr class="statRow">
            <td align='center'><input type="checkbox"{{ siteAlertCheckStr }} id="oHome" /></td>
            <td align='center'><input type="checkbox"{{ emailAlertCheckStr }} id="oEmail"/></td>
            <td align='center'><input type="checkbox"{{ mobileAlertCheckStr }} id="oMobile"/></td>
					</tr></table>
					<h3>In Game Names:</h3><textarea id="inGameInfo" rows="3" cols="20"></textarea>
			  </div>
				<div style="width:100%;height:12px;">
				<div style="font-size: 9px;float: right;"><a href="#deleteMeDialog" id="goDeleteMe" onclick="deleteMe()" title="delete user account">I want to delete my account</a></div>
			</div>
    </div>
    {% endif %}
    <div id="userStats" class="ghWidgetBox">
    <div class="boxHeader">User Stats</div>
    <div id="harvesterData"></div>
    <div id="addBusyImgHD"><img src="/images/ghWait.gif" alt="waiting..." border="0" /></div>
    </div>
  </div>
  <div class="ghCol" style="width:65%;">
    <div class="ghWidgetBox">
{% if uid != '' %}
	    <div class="boxHeader"><h2>{{ [donorBadge, uid]|join }}
	{% if (loggedin == 1 and currentUser != uid) %}
		    <span id="friendStatus">
		{% if tmpStat == 2 %}
			    <img src="/images/rStar16.png" title="' + uid + ' has added you to their friends list." />
			    <img src="/images/xGrey16.png" title="Click to remove from friends list." onclick="removeFriend(\'' + uid + '\')" />
		{% elif tmpStat == 1 %}
			    <img src="/images/eStar16.png" title="You have added ' + uid + ' to your friends list." />
			    <img src="/images/xGrey16.png" title="Click to remove from friends list." onclick="removeFriend(\'' + uid + '\')" />
		{% else %}
			    <button type=button value="Add To Friends" class="ghButton" onclick="addFriend('{{ uid }}');">Add To Friends</button>
		{% endif %}
		    </span>
	{% endif %}
	    </h2></div>
	    <div id="profileData" style="height:240px;">
	      <div style="float:left;height:140px;"><img class="largeAvatar" src="/images/users/{{ userPictureName }}" /></div>
	      <div style="float:left;height:128px;padding:4px;"><div style="font-size: 14px;font-weight:bold;">{{ userTitle }}</div>
	      <div>{{ joinedStr }}</div>
	      <br /><h4>In Game Info</h4>{{ inGameInfo }}
				{% if sharedInventory > 0 %}
			  <h4>Shared Inventory Link:</h4><a href="{{ BASE_SCRIPT_URL }}user.py/{{ uid }}/inventory?{{ linkappend }}">http://galaxyharvester.net/user.py/{{ uid }}/inventory</a>
			  {% endif %}
			  </div>
	      <div style="float:right;"><h4>Friends {{ friendCountStr }}</h4><div id="friendList">
	      <div id="flBusyImg"><img src="/images/ghWait.gif" alt="waiting..." border=0 /></div></div>
	      </div>
	      <div style="clear:both;"></div>
	      <div id="userStats">
	        <div id="resourceScoreInfo" style="text-align:center;" class="inlineBlock" title="Resource Score"><span style="font-weight:bold;">{{ resScore }}</span><br/><img style="background-color: {{ resColor }};" src="/images/resScoreIcon.png" /><br /></div>
	        <div id="mappingScoreInfo" style="text-align:center;" class="inlineBlock" title="Mapping Score"><span style="font-weight:bold;">{{ mapScore }}</span><br/><img style="background-color: {{ mapColor }};" src="/images/mapScoreIcon.png" /><br /></div>
	        <div id="reputationInfo" style="text-align:center;" class="inlineBlock" title="Reputation Score"><span style="font-weight:bold;">{{ reputation }}</span><br/><img style="background-color: {{ repColor }};" src="/images/repIcon.png" /><br /></div>
	      </div>
	    </div>
      <div id="userAbilities">
        <h3>Unlocked Abilities</h3>
      {% for ability in userAbilities %}
        <div class="abilityBox inlineBlock contrastStyle">{{ ability.description }} ({{ ability.minReputation }})</div>
      {% endfor %}
      </div>
{% else %}
	    <h3>No User</h3>
{% endif %}
    <br /><h3 style="clear:both;">Recent Activity</h3>
    <div id="userHistory"></div>
    <div id="addBusyImgUH"><img src="/images/ghWait.gif" alt="waiting..." border=0 /></div>
    </div>
  </div>
</div>
{{ blocks.pageFooter() }}
{{ blocks.joinForm(loggedin, ['?src_url=/user.py/{{ uid }}&', linkappend], url, enableCAPTCHA, siteidCAPTCHA) }}
{% if loginState != 0 %}
	<div id="deleteMeDialog" class="window">
	    <form name="deleteuserform">
	    <h2 id="deleteUserFormTitle">Delete Your Account!<div style="float:right;"><a href="#" class="close">Close</a></div></h2>
		<div class="standOut">Are you sure you want to delete your account?  This will remove all of your data from the site and is not reversible.  All of your favorites, inventory, recipes, etc.  will ALL be deleted.  You will not be able to join again with the same username.  It's not too late to turn back... if you want to take a break for a while you can just turn off alerts instead.</div>
		<div>If you are really sure you want to do this, type <span class="alert">delete</span> in the box below, and click the Delete Me button.</div>
	    <div style="width:100%;text-align:center;margin:6px;"><input style="height:28px;font-size:24px;text-align:center;" type="text" id="confirmIt" size="16" maxlength="32" onchange="checkConfirmText(this.value)" /></div>
	    <div id="busyImgDelete" style="display:none;float:right;"><img src="/images/ghWait.gif" /></div>
	    <div style="text-align: center;padding: 20px;"><button type="button" id="goDeleteButton" class="ghButton" onclick="goDeleteMe($('#confirmIt').val());">Delete Me</button></div>
	    <div id="deleteInfo"></div>
	</div>
{% endif %}
<div id="mask"></div>
</body></html>
